.article {
  display: flex;
  justify-content: space-between;
  background-color: #F5F3F3;
}

.signIn {
  border-radius: 48px 0px 0px 48px;
  background-color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.signInWrapper {
  display: flex;
  padding: 32px 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.signInTitle {
  margin: 0;
  font-family: Inter;
  font-size: 36px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -0.022em;
  text-align: left;
}

.signInForm {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
}

.signInFormText {
  font-family: Inter;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  background: linear-gradient(0deg #1A2024 #1A2024) linear-gradient(0deg #F76659 #F76659);
}

.signInFormInput {
  width: 592px;
  height: 48px;
  border-radius: 8px;
  border: 1px solid #E8E8E8;
}

.input::-moz-placeholder {
  margin-left: 30px;
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.006em;
  text-align: left;
}

.input::placeholder {
  margin-left: 30px;
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.006em;
  text-align: left;
}

.checkbox {
  display: flex;
  align-items: center;
  gap: 16px;
}

.checkboxText {
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.006em;
  text-align: left;
  color: #6E8BB7;
}

.signInBtn {
  width: 592px;
  height: 56px;
  padding: 12px;
  border-radius: 8px;
  gap: 10px;
  background-color: #0067F4;
  border: none;
}

.signInBtnText {
  font-family: Inter;
  font-size: 16px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: -0.006em;
  text-align: left;
  color: #FFFFFF;
}/*# sourceMappingURL=styles.module.css.map */