.lms {
    height: 100vh;
}
.title {
    width: 411px;
    height: 48px;
    // text-align: center;
    margin: 0 auto;
    // margin-bottom: 50px;
    font-family: Inter;
    font-size: 28px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: -0.006em;
    text-align: left;
    color: #499EFC;
}

.img {
    width: 672px;
    height: 448px;
}