.wrapper {
    width: 592px;
    height: 48px;
    padding: 12px;
    border-radius: 8px;
    border: 1px;
    gap: 12px;
    border-radius: 8px;
    border: 1px solid #E8E8E8;
    border: none;
}

.input {
    margin-top: -33px;
    // margin-left: 20px;
}

.input::placeholder {
    margin-left: 25px;
}

.inputChakra {
    
    width: 550px;
    border: none;

}