.header {
    display: flex;
    justify-content: space-between;
    align-items:center;
    width: 1160px;
    height: 64px;
    padding: 16px 20px 16px 32px;
    gap: 16px;
    box-shadow: 0px -1px 0px 0px #0000001A inset;
}

.title {
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: left;

}

.wrapper {
    display: flex;
    gap: 16px;
}

.btn {
    display: flex;
    align-items: center;
    width: 119px;
    height: 36px;
    padding: 8px, 12px, 8px, 12px;
    border-radius: 8px;
    gap: 8px;
    background: #0067F4;
}

.btnText {
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.006em;
    text-align: left;
    color: #FFFFFF;
}