.sidebar {
    position: absolute;
    width: 280px;
    left: 0;
    right: 1160px;
    top: 0;
    bottom: 0;
}

.top {
    display: flex;
    align-items: center;
    width: 280px;
    height: 64px;
    padding: 16px;
    gap: 160px;
    box-shadow: -1px -1px 0px 0px #E5E9EB inset;
}

.logo {
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: left;
    color: #343A40;

}

.navbar {
    width: 280px;
    height: 100%;
    margin-bottom: 0;
    padding: 12px;
    box-shadow: -1px 0px 1px 0px #E5E9EB inset;
}

.item {
    display: flex;
    width: 256px;
    height: 40px;
    padding: 8px 10px 8px 12px;
    gap: 12px;
}

.bottom {
    display: flex;
    width: 280px;
    height: 56px;
    padding: 12px 18px 12px 18px;
    gap: 12px;
    box-shadow: -1px 1px 0px 0px #E5E9EB inset;
    margin-bottom: 0;

    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
}

.userData {
    width: 200px;
    height: 32px;
    gap: 4px;
}

.userName {
    display: inline-block;
    font-family: Inter;
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: -0.006em;
    text-align: left;
    color: #001A49;
}

.userEmail {
    font-family: Inter;
    font-size: 12px;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: -0.006em;
    text-align: left;
    color: #6E8BB7;
}