@import "./fonts.scss";

// GENERAL 
html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "Roboto", "Arial", sans-serif;
  background-color: #cfcfcf;
}

img {
  max-width: 100%;
  height: auto;
}
